.signup-form-container {
    width: 70%;
    border: 2px black dashed;
    // padding: 10px 0px;
    padding: auto;
    margin: 0px 10%;
}

.signin-form {
    font-size: 2.0rem;
}

.input-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
    // padding: 6px 3px;
    font-size: 1.5rem;
}

.message1 {
    margin: 20px 10px;
}

.signup-button {
    font-size: 1.5rem;
}


.signup-button:hover {
    transform: scale(1.10);
}