.input-container {
    padding: 10px 5px;
    margin: 5px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .input-label {
        padding: 1px 10px;
        margin-left: 1%;
    }

    .input-input {
        font-size: 1.7rem;
        margin-right: 1%;
    }

    .input-input:focus {
        background-color: rgb(251, 251, 242);
    }

}