.url-container {
    // margin-top: 250px;
    // position: fixed; 
    // overflow-y: scroll;
}


th,
td {
    border: 1px solid black;
}

.table {
    border-collapse: collapse;

}

.table {

    margin: 200px 0px;
    margin-left: 50px;
    font-size: 1.5rem;
    width: 70%;
    // table-layout: fixed;
    word-wrap: break-word;
    table-layout: auto;

    th,
    td {
        padding: 5px 7px;
        margin: 2px 5px;
    }
}


.select {
    width: 12%;
    max-width: 90px;
}

.title {
    width: 22%;
    max-width: 150px;
}

.short-url {
    width: 10%;
    max-width: 100px;
}

.long-url {
    width: 22%;
    max-width: 150px;
    cursor: grab;

    a {
        text-decoration: none;

        color: black;
    }
}

.description {
    width: 20%;
    max-width: 150px;
}

.view {
    width: 22%;
    max-width: 150px;
}